extends layout

block content
  h1 Confirm Page
  p Please check your information.
  div#content
    table(border="1")
      tr
        th user name
        th password
      tr
        td #{name}
        td #{pass}
    div
      form(action="timeline", method="post")
        input(type="hidden", value="#{name}", name="new_name")
        input(type="hidden", value="#{pass}", name="new_pass")
        input(type="submit" value="OK")
      form(action="/", method="get")
        input(type="submit" value="Cancel")
