extends layout

block content
  h1= title
  p Welcome to #{title}
  div#content
    table(border="1")
      tr
        th.pict 写真
        th.tweet つぶやき
        - i = 0;
        each user in user_list
          tr
            td #{user}
            td #{latest_tweet[i]}
          - i++;
    hr
    div
      form(action="/", method="post")
        input("text", name="name")
        br
        input("text", name="pass")
        br
        input(type="submit" value="Login")
    hr
    div
      form(action="/confirm", method="post")
        input("text", name="new_name")
        br
        input("text", name="new_pass")
        br
        input(type="submit" value="Sign-in")
