extends layout

block content
  h1= title
  p Welcome to #{msg}
  div#content
    form(method='post',action='/')
      table
        tr
          th ユーザーID
          th パスワード
        tr
          td
            input(type='text', name='user_id')
          td
            input(type='text', name='user_pass')
        tr
          td
            input(type="submit" value="ログイン")
    hr
    div
      form(action="/", method="post")
        input("text", name="name")
        br
        input("text", name="pass")
        br
        input(type="submit" value="Login")
    hr
    div
      form(action="/confirm", method="post")
        input("text", name="new_name")
        br
        input("text", name="new_pass")
        br
        input(type="submit" value="Sign-in")
