doctype html
html
  head
    title インキュにこにこカレンダー
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/desktopNotification.js', charset='UTF-8')
  body
    block content
    hr
    div Release Note
      table(border="1")
        tr
          td 2016-02-18(Thu)
          td Ver 1.0
          td 
            li プロトタイプ
        tr
          td 2016-02-22(Mon)
          td Ver1.1
          td 
            li 二回目のつぶやきで落ちるバグ修正
            li パスワード機能削除
            li リリースノート表示
            li つぶやきの表示順のソート(新しい物が上に来る)
        tr
          td 2016-02-24(Wed)
          td Ver 1.2
          td
            li つぶやきの入力欄を広げた
            li アイコンの縮小
            li 名前と気分を横に並べた
        tr
          td 2016-03-01(Tue)
          td Ver 1.3
          td
            li セッション時間延長(24時間)
            li 更新ボタン作成
        tr
          td 2016-03-03(Thu)
          td Ver 2.0
          td
            li デスクトップ通知機能追加
            li デフォルト表示を最新20件だけ表示するタイムラインに変更
            li 全員の情報の最新を表示するページを作成
